* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Centralização com Flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#000000;
}

.login-box {
    background: linear-gradient(60deg, #FFE001, #002279, #009C2E);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color:#000000;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: linear-gradient(135deg, #FFE001, #002279, #009C2E) ;
}